<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link Shortner</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Shorten the links!</h1>
                <h2>Make them more easy on the eyes</h2>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <form action="/" method="post">
                    <input type="url" required aria-required="true" pattern="#((https?://|ftp://|www\.|[^\s:=]+@www\.).*?[a-z_\/0-9\-\#=&])(?=(\.|,|;|\?|\!)?(\\" | '|«|»|\[|\s|\r|\n|$))#iS" name="link">
                    <button class="button button-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>